[Unit]
Description=z2m-node-info
BindsTo=mosquitto.service
After=network.target mosquitto.service

[Service]
ExecStart=/home/alarm/devel/z2m-node/info/z2m-node-info
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
