[Unit]
Description=z2m-node-info
BindsTo=mosquitto.service
After=network.target mosquitto.service

[Service]
ExecStart=/home/m/devel/z2m-node/z2m-node-info/build/z2m-node-info
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
